@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* General */
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.container {
  /* width: 1536px; */
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  /* background-color: #bbb */
}

/* Header */
.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 640px;
  margin: 0 auto;
  /* background-color: aqua; */
}

/* Nav */

.menu__container {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.menu__list--signin,
.menu__list--categories {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  color: #686868;
  flex-grow: 4;
}

.menu__list--signin {
  gap: 14px;
}

.menu__list--categories {
  display: flex;
  gap: 40px;
}

.menu__link--categories {
  font-size: 14px;
}

.search {
  width: 200px;
  display: inline-block;
  box-sizing: border-box;
}


.search__container {
  width: 84px;
  border-bottom: 1px solid rgb(104, 104, 104, 0.4);
  gap: 20px;
  margin-bottom: 5px;
}

.search__input {
  border: none;
}

.search__input:focus {
  outline: 0;
}

.bag__container {
  padding
}

