@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* General */
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.container {
  /* width: 1536px; */
  display: flex;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

/* Header */
.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px auto;
}

/* Nav */
.menu {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.menu__container {
  display: flex;
  flex: 4; 
}

.menu__list--signin,
.menu__list--categories {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #686868;
  flex-grow: 4;
}

.menu__link--signin,
.menu__link--categories {
  transition: all .3s ease-in-out;
}

.menu__link--signin:hover,
.menu__link--categories:hover {
  color: #DE8F75;
}

.menu__list--signin {
  gap: 14px;
}

.menu__list--categories {
  padding-right: 180px;
  gap: 40px;
}

.menu__link--categories {
  font-size: 14px;
}

.search {
  width: 83px;
  height: 36px; 
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(104, 104, 104, 0.4);
}


.search__container {
  width: 84px;
  border-bottom: 1px solid rgb(104, 104, 104, 0.4);
  gap: 20px;
  margin-bottom: 5px;
}

.search__input {
  border: none;
}

.search__input:focus {
  outline: 0;
}

.bag__container {
  padding-right: 40px;
}

