.modalBag {
  width: 100%;
  height: 163%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
}

.modalBag__container {
  background-color: #ffffff;
  width: 525px;
  height: 816px;
}

.modalBag__close {
  display: flex;
  justify-content: flex-end;
}

.modalBag__x {
  background-color: transparent;
  border: none;
  text-align: end;
  cursor: pointer;
}